body{
    overflow-x: hidden;
  }
  footer{
    background-color: #212529;
  }
  
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.form-passenger{
  background-color: #212529;
  color: white;
  padding: 50px 40px;
  border-radius: 25px;
  margin:50px 0px;
}
.title-page{
  color: #212529;
  font-weight: 600;
  font-size: 34px;
  margin-bottom: 40px;
}
a{
  color: white!important;
}
.nav-link:hover{
  color: #dc3545;
}
table{
  vertical-align: middle!important;
}
th, td{
  text-align: center;
}