<div class="jumbotron animated fast fadeIn">
    <h1 class="display-4">Passengers</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, eligendi laborum? Soluta odit, ipsum nesciunt deserunt minima sed pariatur, blanditiis iusto illo perferendis ullam iure magnam commodi distinctio, laboriosam esse.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <div routerLinkActive="active">
      <a class="btn btn-primary btn-lg" [routerLink]="['/passengers']">Passengers</a>
    </div> 
  </div>