<h4>Add new passenger</h4>
<hr>
<form autocomplete="off" [formGroup]="formPassengerNew" (ngSubmit)="save(formPassengerNew.value)">
    <div>
        <div class="row">
            <div class="col-12">
                <label>Name:</label>
            </div>
            <div class="col-12 mt-1">
                <input class="form-control" type="text" placeholder="Name" formControlName="name" [class.is-invalid]="invalidName">
                <small class="text-danger" *ngIf="invalidName">Ingrese su nombre</small>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <label>Trips:</label>
            </div>
            <div class="col-12 mt-1">
                <input class="form-control" type="number" placeholder="Trips" formControlName="trips" [class.is-invalid]="invalidTrip">
                <small class="text-danger" *ngIf="invalidTrip">Ingrese la cantidad de viajes</small>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <label>Airline:</label>
            </div>
            <div class="col-12 mt-1">
                <input class="form-control" type="number" placeholder="Airline" formControlName="airline" [class.is-invalid]="invalidAirline">
                <small class="text-danger" *ngIf="invalidAirline">Ingrese numero de identificación de la aerolinea</small>
            </div>
        </div>
        <button type="submit" class="mt-4 btn button btn-primary">Save passenger </button>
    </div>
</form>


<hr>
<pre>
    status: {{formPassengerNew.status}}

     {{ formPassengerNew.value | json }}
</pre>