<div class="col animated fadeIn fast" >
    <div class="card h-100">
      <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
      <div class="card-body">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.bio}}</p>
         <!-- <button class="btn btn-outline-primary w-100">Ver más...</button> -->
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ heroe.aparicion }}</small>
      </div>
      <button (click)="verHeroe()" class="btn btn-outline-primary w-100">Ver mas...</button>
      <!-- <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary"> Ver mas link...</a> -->
    </div>
  </div>