<div class="container footer-content">
    <div class="row row-center-footer">
        <div class="col-md-6">
            <div class="row justify-content-start">
                <div class="col-md-2">
                    <a href="">
                        <img src="assets/images/viking.png" height="40px" width="40px">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="">
                        <img src="/assets/images/instagram.png" height="40px" width="40px">
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="">
                        <img src="assets/images/linkedin.png" height="40px" width="40px">
                    </a>
                </div>  
            </div>
        </div>
        <div class="col-md-6 text-end">
            <a class="copyright" href="">@COPYRIGHT 2022</a>
        </div>
    </div>
</div>   
