<div class="jumbotron">

<h1 class="animated fast">This is a page about Comic App</h1>
<hr>
<p class="animated fast fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem praesentium voluptas accusantium fuga doloremque, eius, nobis quis beatae ex amet sapiente aliquam laudantium et dolor veniam. Quam perspiciatis beatae cupiditate? <br>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque minus eos, eaque mollitia quia vitae dolorum esse iste, voluptates libero labore! Minus quidem quam ad distinctio perferendis placeat dolor laboriosam? </p>
</div>
